<!DOCTYPE html>
<html>
  <head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script> 
  </head>
  <body>
      <div class = "container">
        {% for card in cards %}
        <div class = "card z-depth-0">
            <div class = "card-content">
                <p class = "flow-text card-title">{{ card.title }}</p>
                <p>{{ card.content }}</p>
            </div>
            <div class = "card-action">
                <a href="" class = "teal-text">Okay</a>
            </div>
        </div>            
        {% endfor %}
      </div>
    
    </body>
</html>